.alert-message {
    img {
        width: 50% !important;
    }
}

.alert-ios .alert-message {
    max-height: 90%;
    overflow-y: auto !important;
}
.confirm{
    font-weight: bold !important;
}
.cancel{
    color: $bite-color !important;
    font-weight: 100 !important;
}