<ion-header>

  <ion-navbar color="bite">
    <ion-title>{{ 'ORDER' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content>

  <ion-item-divider color="light">
    <h2>
      <b>{{ 'ORDER_DELIVERY' | translate }}</b>
    </h2>
  </ion-item-divider>

  <ion-list padding-left padding-right padding-bottom>
    <button ion-item (click)="openMap()">
      <p class="header-order">
        <b>{{ 'DELIVERY_ADDRESS' | translate }}</b>
        <span class="danger">*</span>
      </p>
      <p *ngIf="order.shippingAddress.address">{{ order.shippingAddress.address }}</p>
      <p *ngIf="!order.shippingAddress.address || order.shippingAddress.address ===''">{{ 'SELECT_ADDRESS' | translate }}</p>
    </button>

    <ion-item>
      <ion-label floating>{{ 'ADDRESS_DETAIL' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="order.shippingAddress.addressDetail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'DISPLAY_NAME' | translate }}
        <span class="danger">*</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="order.shippingAddress.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'TEL' | translate }}
        <span class="danger">*</span>
      </ion-label>
      <ion-input type="number" [(ngModel)]="order.shippingAddress.tel"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item-divider color="light">
    <h2>
      <b>{{ 'ORDER_MENU' | translate }}</b>
    </h2>
  </ion-item-divider>

  <ion-list padding-left padding-right no-lines no-lines>
    <ion-item class="item-border">
      <p class="header-order">
        <b>{{ 'RESTAURANT' | translate }}</b>
      </p>
      <p>{{order.shop.name}}</p>
    </ion-item>
  </ion-list>

  <ion-list padding-left padding-right no-lines>
    <ion-item class="item-border">
      <p class="header-order">
        <b>{{ 'PRODUCT_MENU' | translate }}</b>
      </p>
      <ion-row *ngFor="let item of order.items">
        <ion-col col-9 text-left>
          <p>{{item.product.name}}</p>
          <p *ngIf="item.remark && item.remark !==''" class="remark">({{item.remark}})</p>
        </ion-col>
        <ion-col col-3 text-right>
          <p>{{item.qty}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list padding-left padding-right>
    <ion-item class="border-none">
      <p class="header-order">
        <b>{{ 'COUPON' | translate }}</b>
      </p>
    </ion-item>
    <ion-row>
      <ion-col col-9 text-left>
        <ion-item class="border-none" class="input-fixed-height">
          <ion-input type="text" placeholder="{{ 'COUPON_CODE' | translate }}" [(ngModel)]="couponCode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3 text-right>
        <button ion-button block color="light" class="button-coupon" (click)="applyCode()">{{ 'COUPON_APPLY' | translate }}</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="order.coupon">
      <ion-col col-6 text-left>
        <p>
          <b>{{ 'DISCOUNT' | translate }}</b>
        </p>
      </ion-col>
      <ion-col col-6 text-right class="highlight-color">
        <p>
          <b>{{100 | number:'0.2-2'}} {{ 'THB' | translate }}</b>
        </p>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list class="no-icon" padding-left padding-right *ngIf="order.distance">
    <!-- <ion-list class="no-icon" padding-left padding-right> -->
    <ion-item class="border-none">
      <ion-row>
        <ion-col col-6 text-left class="highlight ">
          <p>
            <b>{{ 'DISTANCE' | translate }}</b>
          </p>
          <p>
            <b>{{ 'APPROXIMATELY' | translate }}</b>
          </p>
          <p>
            <b>{{ 'TOTAL_FEE' | translate }}</b>
          </p>
        </ion-col>
        <ion-col col-6 text-right class="highlight highlight-color ">
          <p class="total">
            <b>{{order.estimateprice.distance}} {{ 'KM' | translate }}</b>
          </p>
          <p class="total">
            <b>{{order.estimateprice.tripDuration}} {{ 'MIN' | translate }}</b>
          </p>
          <p class="total">
            <b>{{order.estimateprice.netPrice | number:'0.2-2'}} {{ 'THB' | translate }}</b>
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="order-description">
        <ion-col col-6 text-left>
          <p>
            <b>{{ 'PRODUCT_MENU' | translate }}</b>
          </p>
          <p *ngIf="order.qty> 1">{{order.items.length}} {{ 'MENU' | translate }} ({{order.qty}} {{ 'ITEMS' | translate }})</p>
          <p *ngIf="order.qty === 1">{{order.items.length}} {{ 'MENU' | translate }} ({{order.qty}} {{ 'ITEM' | translate }})</p>
        </ion-col>
        <ion-col col-6 text-right>
          <p>
            <b>{{ order.amount | number:'0.2-2'}} {{ 'THB' | translate }}</b>
          </p>
          <p>{{ order.amount | number:'0.2-2'}} {{ 'THB' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="order-description">
        <ion-col col-6 text-left>
          <p>
            <b>{{ 'DELIVERY_FEE' | translate }}</b>
          </p>
          <p>{{ 'BASE_FARE' | translate }}</p>
          <p>{{ 'DISTANCE_FEE' | translate }}</p>
        </ion-col>
        <ion-col col-6 text-right>
          <p>
            <b>0.00 {{ 'THB' | translate }}</b>
          </p>
          <p>0 {{ 'THB' | translate }}</p>
          <p>0 {{ 'KM' | translate }}/0.00 {{ 'THB' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="order.discount > 0">
        <ion-col col-6 text-left>
          <p>
            <b>{{ 'DISCOUNT' | translate }}</b>
          </p>
        </ion-col>
        <ion-col col-6 text-right>
          <p>
            <b>{{order.discount | number:'0.2-2'}} {{ 'THB' | translate }}</b>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- <button ion-button block color="light" small>{{ 'PRICE_POLICY' | translate }}</button> -->
  </ion-list>

</ion-content>
<ion-footer class="footer-order">
  <ion-toolbar>
    <button ion-button block (click)="estimatedPrice()" *ngIf="!order.distance" color="bite" [disabled]="!order.shippingAddress.address || order.shippingAddress.address ==='' || !order.shippingAddress.name || order.shippingAddress.name ==='' || !order.shippingAddress.tel || order.shippingAddress.tel ===''">{{ 'ESTIMATE_PRICE' | translate}}</button>
    <button ion-button block (click)="confirmOrder()" *ngIf="order.distance" color="bite" [disabled]="!order.shippingAddress.name || order.shippingAddress.name ==='' || !order.shippingAddress.tel || order.shippingAddress.tel ===''">{{ 'BUY_ORDER' | translate}}</button>
    <!-- <button ion-button block (click)="confirmOrder()" color="bite">{{ 'BUY_ORDER' | translate}}</button> -->
  </ion-toolbar>
</ion-footer>
