page-order {
    .item {
        padding: 0px !important;
    }
    .col {
        padding: 4px 4px 4px 0px!important;
    }
    .footer-order {
        .toolbar {
            min-height: 40px !important;
            max-height: 40px !important;
        }
    }
    ion-list {
        margin-bottom: 0px !important;
    }
    .highlight {
        border-bottom: 1px solid #dedede;
        padding: 6px 0px 6px 0px !important;
        p {
            font-weight: 600;
        }
    }
    .highlight-color {
        p {
            color: #4CAF50 !important;
        }
    }
    .order-description {
        padding: 6px 0px 6px 0px !important;
    }
    .border-none {
        .item-inner {
            border-bottom: none !important;
        }
    }
    .button-md {
        box-shadow: none !important;
    }
    .item-inner {
        background: none !important;
        padding-right: 0px !important;
    }
    .header-order {
        height: 30px !important;
        // font-size: 1em;
        font-weight: 600;
    }
    .remark {
        color: #a5a5a5 !important;
    }
    .input-fixed-height {
        max-height: 44px !important;
        min-height: 44px !important;
        .input-cover {
            height: 44px !important;
        }
        .item-inner {
            max-height: 44px !important;
            min-height: 44px !important;
        }
        ion-input {
            height: 44px !important;
        }
    }
    ion-item-divider {
        b {
            padding-left: 16px !important;
        }
    }
    p {
        color: #000000 !important;
    }
    .button-coupon {
        margin: 0px !important;
        height: 44px !important;
    }
    .item-border {
        border-bottom: 1px solid #c8c7cc !important;
    }
    .list {
        margin: 1px 0 16px !important;
    }
    .list-ios>.item-block:first-child {
        border-top: 0px !important;
    }
    .item-divider-md{
        border-bottom: 0px !important;
    }
}