page-service-charge {
    .bg-col {
        background-color: #f3f3f3;
        margin: 2px;
    }
    .setBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .time {
        color: gray;
    }
    .marginT {
        margin-top: 10px;
    }
}