<ion-header>

  <ion-navbar color="bite" hideBackButton>
    <ion-title>{{ 'AGREEMENT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>{{ 'TERMS_CONDITIONS' | translate }}</h3>

  <ion-row class="row-custom2">
    <ion-col col-12>
      <div *ngIf="language === 'en'">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Service Provider has respected the privacy of users and has been
          well aware that users intended to receive security in using applications, and the data obtained by the Service
          Provider under the agreed terms and conditions shall be used for the purpose of users only, and the Service Provider
          shall operate its businesses under the strict measures of security protection, including prevention from any use
          of the data without receiving prior permissions from users.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Privacy Policy, as appeared below, shall be applicable to accounts
          of users and data as given by users with this Application.
        </p>
        <h5>Collection of Personal Data:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p>Regarding the registration or use of services on applications, the Service Provider needed to ask for the personal
                data of users such as first names and last names, email addresses, cellphone numbers, addresses, etc., for
                continuous operation of the application system. In case, users have exercised their rights to redeem points
                for rewards and privileges, the Service Provider may ask for additional personal data such as genders, date
                of birth, addresses, personal preferences, etc. Users acknowledged that the personal data completed for use
                on applications shall be sent through the Internet which is the public networking system; whereas, the Service
                Provider shall use measures and its due care to prevent the third parties from accessing such personal data.
                However, the Service Provider reserved its rights to assume no responsibility for any damage resulting from
                the third parties’ viewing and/or use of such data of users.
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <h5>Use of Personal Data:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p> Users shall have their rights of privacy in their data, and the Service Provider shall not permit any disclosure
                of data of users to the third parties other than employees authorized by the Service Provider. The Service
                Provider shall use the personal data of users as may be suitable for the purposes of communication, public
                relations, marketing or statistical use of data. The Service Provider shall not sell or disseminate the collected
                personal data of users to the third parties unless receiving acknowledgment from users only or by means of
                disclosure thereof as prescribed by laws or by orders of the competent government officers.
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <h5>Access to and Change of Data:</h5>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;1. Users may access, examine or change their personal data as per the scope prescribed by the Service
          Provider through the Application.
          <br>&nbsp;&nbsp;&nbsp;&nbsp;2. Personal data of users completed for use shall be the true data in all respects and
          such personal data shall always be updated.
          <br>&nbsp;&nbsp;&nbsp;&nbsp;3. When accounts of users have been cancelled, the Service Provider shall still keep the
          account data of users in the database as prescribed by laws for the purposes of auditing in case of fraud and avoiding
          the closing of old accounts and opening of new accounts. However, when accounts of users have been cancelled, the
          Service Provider shall no longer use the account data of users, and shall not disclose the data to any person or
          organization, or shall not use the data in the manner which may cause any damage to users, except in the event
          that it is required to use the data of users in the inquiry or in the legal processes or by orders of the competent
          government officers.
        </p>

        <h5>Revision of the Privacy Policy:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p> The Service Provider may revise, change or amend the Privacy Policy in the future without giving any prior
                notice thereof to users.
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div *ngIf="language === 'th'">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ให้บริการเคารพในความเป็นส่วนตัวของผู้ใช้บริการ ผู้ให้บริการทราบดีว่าผู้ใช้บริการมีความประสงค์ที่จะได้รับความปลอดภัยในการใช้งานแอปพลิเคชัน
          ข้อมูลต่างๆที่ผู้ให้บริการได้รับมาโดยข้อตกลงและเงื่อนไขจะถูกใช้เพื่อวัตถุประสงค์ของผู้ใช้บริการเท่านั้น ผู้ให้บริการจะดำเนินงานภายใต้มาตรการการรักษาความปลอดภัยที่เข้มงวด
          รวมทั้งการป้องกันมิให้มีการนำข้อมูลไปใช้โดยมิได้รับอนุญาตจากผู้ใช้งานก่อน
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นโยบายความส่วนตัวที่ปรากฏด้านล่างนี้ใช้บังคับกับบัญชีผู้ใช้บริการและข้อมูลต่างๆ
          ที่ผู้ใช้บริการได้ให้ไว้กับแอปพลิเคชันนี้
        </p>
        <h5>การเก็บรวบรวมข้อมูลส่วนบุคคล:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p>ในการลงทะเบียน หรือใช้บริการต่างๆบนแอปพลิเคชัน ผู้ให้บริการมีความจำเป็นต้องขอข้อมูลส่วนบุคคล ของผู้ใช้บริการ
                เช่น ชื่อนามสกุล อีเมลล์ เบอร์โทรศัพท์มือถือ ที่อยู่ เป็นต้นเพื่อให้ระบบแอปพลิเคชันสามารถดำเนินต่อไปได้ ในกรณีที่ผู้ใช้บริการ
                ใช้สิทธิเพื่อแลกรับของรางวัลและสิทธิพิเศษ ผู้ให้บริการอาจร้องขอข้อมูลส่วนของบุคคลเพิ่มเติม เช่น เพศ วันเกิด
                ที่อยู่ ความชอบส่วนตัว เป็นต้น ผู้ใช้บริการยอมรับว่าข้อมูลส่วนบุคคลที่ได้กรอกเพื่อใช้บริการบน แอปพลิเคชันจะถูกส่งผ่านอินเตอร์เน็ตซึ่งเป็นระบบเครือข่ายสาธารณะ
                โดยผู้ให้บริการจะใช้มาตรการและความระมัดระวังในการมิให้บุคคลภายนอกเข้าถึงข้อมูลส่วนบุคคลดังกล่าว อย่างไรก็ตามผู้ให้บริการขอสงวนสิทธิ์ในการรับผิดชอบต่อความเสียหายใดๆที่เกิดขึ้นจากการที่บุคคลภายนอกได้เห็นและ/หรือใช้ข้อมูลดังกล่าว
                ของผู้ใช้บริการ
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <h5>การใช้ข้อมูลส่วนบุคคล:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p> ผู้ใช้บริการมีสิทธิ์ในความเป็นส่วนตัวของข้อมูลผู้ใช้บริการ โดยผู้ให้บริการจะไม่มีการอนุญาตให้เปิดเผยข้อมูลของผู้ใช้บริการให้กับบุคคลภายนอก
                นอกเหนือจากพนักงานผู้ที่ได้รับอนุญาตจากผู้ให้บริการ ผู้ให้บริการจะใช้ข้อมูลส่วนบุคคลของผู้ใช้บริการตามความเหมาะสมในการติดต่อสื่อสาร
                ประชาสัมพันธ์ทำการตลาด หรือใช้ข้อมูลเพื่อใช้ในทางสถิติได้ ผู้ให้บริการจะไม่นำข้อมูลส่วนบุคคลของผู้ใช้บริการที่ได้เก็บรวบรวมไว้ไปขายหรือเผยแพร่ให้กับบุคคลภายนอก
                เว้นแต่จะได้รับการยอมรับจากผู้ใช้งานเท่านั้น หรือโดยเป็นการเปิดเผยตามที่กฎหมายกำหนด หรือโดยคำสั่งจากเจ้าพนักงานรัฐที่มีอำนาจ
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <h5>การเข้าถึงและการเปลี่ยนแปลงข้อมูล:</h5>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;1. ผู้ใช้บริการสามารถเข้าถึง ตรวจสอบ เปลี่ยนแปลง ข้อมูลส่วนบุคคล ได้ตามขอบเขตที่ผู้ให้บริการกำหนด
          ผ่านแอปพลิเคชัน
          <br>&nbsp;&nbsp;&nbsp;&nbsp;2. ข้อมูลส่วนบุคคลของผู้ใช้บริการที่กรอกเพื่อใช้งาน จะต้องเป็นข้อมูลตรงตามความจริงทุกประการ
          และจะต้องเปลี่ยนข้อมูลส่วนบุคคลให้เป็นปัจจุบันอยู่เสมอ
          <br>&nbsp;&nbsp;&nbsp;&nbsp;3. เมื่อบัญชีของผู้ใช้บริการถูกยกเลิกแล้วผู้ให้บริการยังคงเก็บข้อมูลบัญชีผู้ใช้บริการในฐานข้อมูลต่อไปตามที่กฎหมายกำหนด
          เพื่อวัตถุประสงค์ในการตรวจสอบในกรณีเกิดการทุจริต และหลีกเลี่ยงไม่ให้เกิดการปิดบัญชีเก่าแล้วเปิดบัญชีใหม่ อย่างไรก็ตามเมื่อบัญชีผู้ใช้บริการถูกยกเลิกบริการแล้ว
          ผู้ให้บริการจะไม่ใช้ข้อมูลของบัญชีผู้ใช้บริการอีก รวมทั้งไม่เปิดเผยข้อมูลต่อบุคคลหรือหน่วยงานใด หรือนำไปใช้ให้เกิดความเสียหายใดๆ
          แก่ผู้ใช้บริการ ยกเว้นในกรณีที่ต้องใช้ข้อมูลของผู้ใช้บริการในการสอบสวนหรือใช้ในกระบวนการทางกฎหมาย หรือโดยคำสั่งจากเจ้าพนักงานรัฐที่มีอำนาจ

        </p>

        <h5>การปรับปรุงนโยบายความเป็นส่วนตัว:</h5>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p> ผู้ให้บริการอาจทำการปรับปรุง เปลี่ยนแปลง แก้ไขนโยบายความเป็นส่วนตัวในอนาคต โดยไม่ต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-col>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer class="footer-agreement">
  <ion-toolbar>
    <button [disabled]="!isShowAgreementBtn" ion-button block (click)="agreement()" color="bite">{{ 'ACCEPT' | translate }}</button>
  </ion-toolbar>
</ion-footer>