page-product-detail {
    ion-slides {
        height: auto !important;
    }
    .searchbar-ios .searchbar-input {
        background-color: #eeeded !important;
        border-radius: 15px !important;
    }
    .searchbar-ios {
        background: white !important;
        text-align: center;
        border-bottom: none !important;
    }
    .searchbar-input-container {
        margin-top: 6px;
    }
    .searchbar-ios .searchbar-search-icon {
        background-image: none;
    }
    .count {
        margin-top: 14px;
        .count-radias {
            border-radius: 1000px;
            height: 45px;
            .button-inner {
                font-size: 25px !important;
            }
        }
        .count-radiascenter {
            height: 70px;
            width: 70px;
            .button-inner {
                font-size: 25px !important;
            }
        }
    }
    button.ion-button.outline {
        border-radius: 941px
    }
    .header-md::after {
        background-image: none !important;
    }
    .toolbar-background {
        background-color: transparent !important;
        border: none !important;
    }
    .close-close {
        .button-inner {
            font-size: 25px !important;
        }
    }
    .btn-add-cart {
        padding: 0px;
    }
    .bar-button-default-ios {
        color: #eb3841 !important;
    }
    .bar-button-default-md {
        color: #eb3841 !important;
    }
    .swiper-pagination-bullet-active {
        background: #eb3841 !important;
        opacity: 1;
    }
    .footer-product {
        .toolbar {
            min-height: 40px !important;
            max-height: 40px !important;
        }
    }
    .slide-product {
        img {
            width: 100vw !important;
            height: 100vw !important;
            object-fit: cover;
        }
    }
}