page-profile {
    ion-avatar img {
        border-radius: 500px;
    }
    .scroll-content {
        padding: 0px 0px 0px 0px !important;
        background-color: #f4f4f4;
    }
    .size-btn {
        font-size: 1.9rem !important;
        margin: 0px 0px 0px 10px !important
    }
    img {
        border-radius: 100%;
    }
    .camera-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .text-coin {
        color: #eb3841;
    }
    .item {
        color: #607D8B !important;
    }
    .text-input {
        color: #607D8B !important;
    }
    .text-input[disabled] {
        opacity: 0.8 !important;
    }
    .datetime-disabled,
    .item-datetime-disabled ion-label {
        opacity: 0.8;
    }
}