page-profile {
    .scroll-content {
        padding: 0px 0px 0px 0px !important;
        background-color: #ffffff;
    }
    .image-radius {
        border-radius: 100%;
    }
    .cate-seeall {
        color: rgb(73, 67, 67);
        font-family: 'Kanit', sans-serif;
    }
    .segment-md-light .segment-button.segment-activated {
        border: none;
        background-color: #b3222f;
        opacity: 1;
    }
    .bite-color {
        background-color: $bite-color;
        padding-top: 33px;
    }
    .segment-button {
        font-size: medium !important;
    }
    .text-coin {
        color: #ffffff;
        font-size: large;
    }
    .text-icon {
        color: #ffffff;
        font-size: xx-large;
    }
    .text-name {
        color: #ffffff;
    }
    .display-grid {
        align-items: center;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        progress {
            margin-top: 16px;
            margin-bottom: auto;
        }
    }
    .background-active {
        background-color: rgba(176, 176, 176, 0.2);
    }
    .background-first {
        background-color: rgba(32, 32, 32, 0.2);
    }
    .ion-badge-style {
        position: absolute;
        bottom: 1.5rem;
        margin-left: 50px;
        opacity: 0.9;
    }
    .list-ios {
        margin: -1px 0 0px !important;
    }
    .list-md {
        margin: -1px 0 0px !important;
    }
    .progress-me {
        width: 30vw !important;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
    }
    progress {
        width: 45vw !important;
        -webkit-appearance: none;
        border: none;
    }
    progress::-webkit-progress-bar {
        background: #e0e0e0;
        opacity: 1;
        border-radius: 0px;
        padding: 1px;
    }
    progress::-webkit-progress-value {
        border-radius: 0px;
        background: $bite-color;
    }
    .horizontally-center {
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px; // margin-left: -40px;
        }
        ion-icon {
            width: 30px;
            height: 30px;
            margin-left: 30px;
        }
    }
    // ion-item {
    //     padding: 0px !important;
    //     height: 70px !important;
    // }
    .rank-icon {
        font-size: 20px;
        ion-icon {
            margin-top: 13px !important;
        }
        span {
            position: absolute;
            margin-left: 6px !important;
            margin-top: 9px !important;
        }
    }
    .user-image {
        align-items: center !important;
        text-align: -webkit-center;
        preload-image {
            width: 50px !important;
            height: 50px !important;
            border-radius: 100% !important;
            display: table-cell !important;
            left: 20px;
        }
        img {
            margin: 0px !important;
            object-fit: cover !important;
        }
    }
    .segment-button {
        text-transform: none !important;
    }
    .icon-gold {
        color: gold;
    }
    .icon-silver {
        color: rgb(156, 156, 156);
    }
    .icon-copper {
        color: #B87333;
    }
    .paid {
        color: #4CAF50;
    } // .item-content {
    //     background-color: $bite-color;
    // }
    // .justify-content {
    //     height: 2em;
    //     display: flex;
    //     align-items: center;
    // }
    // .size-btn {
    //     font-size: 1.9rem !important;
    //     margin: 0px 0px 0px 10px !important
    // }
}