page-profile {
    ion-avatar img {
        border-radius: 500px;
    }
    .scroll-content {
        padding: 0px 0px 0px 0px !important;
        background-color: $bite-color;
    }
    .size-btn {
        font-size: 1.9rem !important;
        margin: 0px 0px 0px 10px !important
    }
    img {
        border-radius: 100%;
    }
    .camera-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    } // 
    .text-coin {
        // color: #eb3841;
        color: #ffffff;
        font-size: large;
    }
    .text-icon {
        color: #ffffff;
        font-size: xx-large;
    }
    .item-content {
        background-color: $bite-color;
    }
    .justify-content {
        height: 2em;
        display: flex;
        align-items: center;
    }
    .text-name {
        color: #ffffff;
    }
    .text-rank {
        font-size: 12px;
    }
    .display {
        display: inline-block;
    }
    .list-item {
        margin-top: 3px;
    }
    .avatar-middle {
        display: inline-block;
        vertical-align: middle;
    } // 
    .item {
        color: #607D8B !important;
    }
    .text-input {
        color: #607D8B !important;
    }
    .text-input[disabled] {
        opacity: 0.8 !important;
    }
    .datetime-disabled,
    .item-datetime-disabled ion-label {
        opacity: 0.8;
    } // .segment-md-light .segment-button
    .segment-button {
        font-size: medium !important;
    }
}

ion-badge {
    position: absolute;
    bottom: 1.5rem;
    right: 30px;
    opacity: 0.9;
}