<ion-header>

  <ion-navbar color="bite">
    <ion-buttons start *ngIf="user && user.profileImageURL">
      <button ion-button clear (click)="goToProfile()">
        <ion-avatar class="avatar-profile">
          <preload-image class="preload-profile-image" [ratio]="{w:1, h:1}" [src]="user.profileImageURL" [isIcon]="true"></preload-image>
        </ion-avatar>
      </button>
    </ion-buttons>
    <ion-title>{{ 'REWARD' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="container">
    <img src="{{rewardData.coin.image}}" class="coin">
    <div class="centered">
      <p> {{rewardData.coin.coinnumber}} </p>
    </div>
  </div>

  <img src="{{rewardData.conquest.image}}" alt="">

  <div class="conquest">
    <p> {{rewardData.coin.name}} </p>
  </div>

  <p class="title">{{rewardData.rewards.title}}</p>
  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-4 *ngFor="let item of rewardData.rewards.items" class="col-pro">
        <ion-card>
          <img src="{{item.image}}" alt="imgErr">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <ion-grid>
    <p class="title">{{rewardData.MakeMerit.title}}</p>
    <ion-row>
      <ion-col col-6 *ngFor="let item of rewardData.MakeMerit.items">
        <img src="{{item.image}}" alt="imgErr">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <p class="title">{{rewardData.sendCoin.title}}</p>
    <ion-row>
      <ion-col col-6 *ngFor="let item of rewardData.sendCoin.items">
        <img src="{{item.image}}" alt="imgErr">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
