<ion-header>

  <ion-navbar color="bite">
    <ion-buttons start *ngIf="user && user.profileImageURL">
      <button ion-button clear (click)="goToProfile()">
        <ion-avatar class="avatar-profile">
          <preload-image class="preload-profile-image" [ratio]="{w:1, h:1}" [src]="user.profileImageURL" [isIcon]="true"></preload-image>
        </ion-avatar>
      </button>
    </ion-buttons>
    <ion-title>{{ 'REWARD' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="container">
    <!-- <img src="{{rewardData.coin.image}}" class="coin"> -->
    <preload-image [ratio]="{w:3, h:1}" [src]="rewardData.coin.image"></preload-image>
    <div class="centered">
      <p> {{rewardData.coin.coinnumber}} </p>
    </div>
  </div>

  <preload-image [ratio]="{w:3, h:1}" [src]="rewardData.conquest.image"></preload-image>

  <p class="title" padding-top>{{ 'REWARDS' | translate }}</p>
  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-4 *ngFor="let item of rewardData.rewards.items" class="col-pro">
        <ion-card>
          <!-- <img src="{{item.image}}" alt="imgErr"> -->
          <preload-image [ratio]="{w:6, h:9}" [src]="item.image"></preload-image>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <ion-grid>
    <p class="title">{{ 'DONATE' | translate }}</p>
    <ion-row>
      <ion-col col-6 *ngFor="let item of rewardData.MakeMerit.items">
        <preload-image [ratio]="{w:18, h:7}" [src]="item.image"></preload-image>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <p class="title">{{ 'SEND_COIN_TO_FRIENDS' | translate }}</p>
    <ion-row>
      <ion-col col-6 *ngFor="let item of rewardData.sendCoin.items">
          <preload-image [ratio]="{w:3, h:2}" [src]="item.image"></preload-image>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
