<!--
  Generated template for the FindShopReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bite">
    <ion-title>{{ 'WRITE_FIND_SHOP_REVIEW' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-6 text-left no-padding>
      <p *ngIf="title.length > 0">{{ 'RESTAURANT_NAME' | translate}}</p>
    </ion-col>
    <ion-col col-6 text-right no-padding>
      <p>{{maxLengthTitle > title.length ? title.length : maxLengthTitle}}/{{maxLengthTitle}}</p>
    </ion-col>
  </ion-row>
  <!-- <ion-textarea class="write-review-title" [(ngModel)]="title" rows="1" maxlength="{{maxLengthTitle}}" placeholder="{{ 'RESTAURANT_NAME' | translate}}"
    (ionChange)="getItems()"></ion-textarea> -->
  <ion-textarea class="write-review-title" [(ngModel)]="title" placeholder="{{ 'RESTAURANT_NAME' | translate}}" (input)="getItems($event)"></ion-textarea>
  <ion-row>
    <ion-col col-12 no-padding>
      <button class="btn-review" ion-button block color="bite" [(disabled)]="title.length === 0 || !isReview" (click)="selectImageReview()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
        {{ 'WRITE_REVIEW' | translate }}
      </button>
      <p *ngIf="title.length > 0 && !isReview">{{'REVIEW_ERROR_NAME' | translate}}</p>
    </ion-col>
  </ion-row>
</ion-content>
