page-shop {
    .scroll-content {
        overflow-y: auto !important;
        overflow-x: auto !important;
    }
    .icon-ads {
        background-color: #ff5566;
    }
    .open {
        background-color: #4CAF50 !important;
    }
    .shop-detail {
        margin-top: -90px;
        z-index: 1;
        color: aliceblue;
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    ion-scroll {
        border-bottom: 1px solid whitesmoke !important;
        height: 28vw;
        margin: 6px;
    }
    .col-imgpromote {
        padding: 0px !important;
        margin-right: 2px !important;
        margin-top: -3px !important;
    }
    .cate-order {
        text-align: center;
        position: absolute;
        margin-top: -25px;
        background-color: rgba(255, 255, 255, 0.73);
        width: 100%;
        color: #2e2e2e;
        height: 25px;
        padding-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400 !important;
        font-size: 100%;
    }
    img {
        object-fit: cover !important;
    }
    .category-title {
        margin: 0px !important;
    }
    .like {
        position: absolute;
        bottom: -20px;
        right: 0px;
        color: #e0dd13;
        font-size: 3rem;
        padding: 0px;
    }
    .selectedCategory {
        img {
            opacity: 1 !important;
            object-fit: cover;
        }
    }
    .categories-image {
        img {
            opacity: 0.3;
            object-fit: cover;
        }
    }
    .icon-cart {
        left: -10px !important;
    }
    .icon-cart.icon-md {
        left: -36px !important;
    }
    .badge-count {
        position: absolute;
        right: -3px;
        top: -3px;
    }
    .seeall {
        color: rgb(73, 67, 67);
        font-family: 'Kanit', sans-serif; // margin-bottom: 40px;
    }
    .item {
        padding-left: 6px !important;
    }
    .list-product {
        preload-image {
            width: 80px;
        }
    }
}