page-shop {
    .icon-ads {
        // position: absolute;
        background-color: #ff5566;
    }
    .open {
        background-color: #4CAF50 !important;
    }
    ion-grid.grid {
        position: absolute;
        z-index: 1;
        margin-top: -85px;
        color: aliceblue;
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    ion-scroll {
        border-bottom: 1px solid whitesmoke !important;
        height: 28vw;
    } // ion-segment {
    //     display: block;
    //     white-space: nowrap !important;
    //     overflow-x: scroll !important;
    //     overflow-y: hidden !important;
    //     background-color: #ffffff !important;
    //     height: 40px !important; // margin-top: -4px !important;
    //     .segment-button {
    //         display: inline-block !important;
    //         min-width: auto !important;
    //         padding-left: 8px !important;
    //         width: auto !important;
    //         border: 0 !important;
    //         color: #607D8B !important;
    //         font-size: 14px !important;
    //     }
    .segment-button.active-page {
        color: $bite-color !important; // border-bottom: 4px solid !important;
        background-color: rgba(235, 56, 65, 0.1);
        width: auto !important;
    } // }
    .col-imgpromote {
        padding: 0px !important;
        margin-right: 2px !important;
        margin-top: -3px !important;
    }
    .cate-order {
        text-align: center;
        position: absolute;
        margin-top: -25px;
        background-color: rgba(255, 255, 255, 0.73);
        width: 100%;
        color: #2e2e2e;
        height: 25px;
        padding-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400 !important;
        font-size: 100%;
    }
    img {
        object-fit: cover !important;
    }
    .category-title {
        padding: 10px;
        margin: 0px !important;
    }
    .like {
        position: absolute;
        bottom: -20px;
        right: -40px;
        color: #e0dd13;
        font-size: 3rem;
    }
    .selectedCategory {
        img {
            opacity: 1 !important;
        }
    }
    .categories-image {
        img {
            opacity: 0.3;
        }
    }
    .icon-cart {
        // position: absolute !important;
        left: -10px !important;
    }
    .icon-cart.icon-md {
        // position: absolute !important;
        left: -36px !important;
    }
    .badge-count {
        position: absolute;
        right: -3px;
        top: -3px;
    }
    .list-md {
        margin: 2px 0 16px;
    }
    ion-item {
        padding-left: 8px !important;
    }
}