search-input {
    .searchbar-ios .searchbar-input {
        background-color: #eeeded !important;
        border-radius: 15px !important;
    }
    .searchbar-ios {
        background: white !important;
        text-align: center;
        border-bottom: none !important;
    }
    .searchbar-input-container {
        margin-top: 6px;
    }
}