<ion-header>

  <ion-navbar color="danger">
    <ion-title>Native map</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only clear end (click)="googleMapsAutocomplete()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-input id="places" type="text" name="search"></ion-input>
  <div #map class="map">
    <button ion-item text-wrap text-center class="info-item" *ngIf="address">
      <!-- <h2>ที่อยู่</h2> -->
      <p>{{address}}</p>
    </button>
    <div class="arrow-down" *ngIf="address"></div>
  </div>
  <button ion-button color="danger" class="btn-cf" (click)="doConfirm()" [disabled]="!address || address ===''">{{ 'CONFIRM' | translate }}</button>
</ion-content>
