page-address {

    .name{
        color: cornflowerblue;
    }
    h3{
        padding-left: 0px !important;
    }
    ion-content {
        background-color: #f4f4f4 !important;
        color: aliceblue;
    }

    .button {
        margin: 5px 0px 20px 0px !important;
    }

}
