page-shopinterest {
    .footer-shopinterest {
        .toolbar {
            min-height: 40px !important;
            max-height: 40px !important;
        }
    }
    h3{
        margin-bottom: 20px;
        margin-top: 15px;
    }
    // .imgeee{
    //     width: 50% !important;
    //     position: relative;
    //     // align-self: center;
    // }

}
