page-confirmed {
    .align-self-center {
        ion-col {
            align-self: center !important;
        }
    }
    .fixicon {
        font-size: 2em;
    }
    .border-row {
        border-top: solid #c8c7cc 1px;
        border-bottom: solid #c8c7cc 1px;
    }
    .border-top-row {
        border-top: solid #c8c7cc 1px;
    }
    .border-bottom-row {
        border-bottom: solid #c8c7cc 1px;
    }
    .worning-danger {
        color: $bite-color;
    }
    .detail-text {
        color: #a5a5a5;
        margin-top: -4px;
    }
    .fontIcon {
        font-size: x-large
    }
    ion-spinner {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #222;
    }
    .highlight {
        // border-bottom: 1px solid #dedede;
        padding: 6px 0px 6px 0px !important;
        p {
            font-weight: 600;
        }
    }
    .highlight-color {
        .total {
            color: #4CAF50 !important;
        }
    }
    .item-inner {
        background: none !important;
        padding-right: 0px !important;
    }
    .border-none {
        padding: 4px !important;
        .label {
            margin-right: 0px;
        }
        .item-inner {
            border-bottom: none !important;
        }
        ion-col {
            padding: 0px !important;
        }
        p {
            margin: 4px;
            color: #000;
        }
    }
    p {
        margin: 4px;
    }
    .item-divider-md {
        border-bottom: 0px !important;
    }
    ion-item-divider {
        b {
            padding-left: 16px !important;
        }
    }
    .footer-order {
        .toolbar {
            min-height: 40px !important;
            max-height: 40px !important;
            .col {
                padding: 0px !important;
            }
        }
    }
}
.confirm{
    font-weight: bold !important;
}
.cancel{
    color: $bite-color !important;
    font-weight: 100 !important;
}