page-confirmed {
.fixicon{
    font-size: 2em;
}
.border-row{
    border-top: solid gray 0.5px;
    border-bottom: solid gray 0.5px;
}
.border-top-row{
    border-top: solid gray 0.5px;    
}
.border-bottom-row{
    border-bottom: solid gray 0.5px;    
}
.worning-danger{
    color: #EB3841;
}
.detail-text{
    color: gray;
}
}
