<ion-header>

  <ion-navbar color="bite" hideBackButton>
    <ion-title>{{ 'CONFIRMED' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid padding-top padding-left>
    <ion-row>
      <ion-col>
        {{ 'ORDER_NUMBER' | translate }} {{ order._id }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{ getMoment(order.created) }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="align-self-center">
    <ion-col col-2 text-center>
      <ion-icon name="md-person" color="bite" class="fontIcon"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <p>{{ order.shippingAddress.name }}</p>
    </ion-col>
    <ion-col col-2 text-center>
      <ion-icon name="md-pin" color="bite" class="fontIcon"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <p>{{ order.shippingAddress.address }} {{ order.shippingAddress.tel }}</p>
    </ion-col>
    <ion-col col-2 text-center *ngIf="!isSpin">
      <ion-icon name="md-bicycle" color="bite" class="fontIcon"></ion-icon>
    </ion-col>
    <ion-col col-10 *ngIf="!isSpin">
      <p>นายสมศักด์ ขับรถ</p>
    </ion-col>
    <ion-col col-2 text-center *ngIf="!isSpin">
      <ion-icon name="md-home" color="bite" class="fontIcon"></ion-icon>
    </ion-col>
    <ion-col col-10 *ngIf="!isSpin">
      <p>{{ order.shop.name }}</p>
    </ion-col>
  </ion-row>
  <div text-center *ngIf="isSpin">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isSpin">

    <ion-item-divider color="light">
      <h2>
        <b>{{ 'PRODUCT_NAME' | translate }}</b>
      </h2>
    </ion-item-divider>
    <ion-row *ngFor="let item of order.items">
      <ion-col col-9 text-left>
        <p>{{item.product[0].name}}
          <span class="detail-text">({{item.qty}})</span>
          <br>
          <span class="detail-text" *ngIf="item.remark && item.remark !== ''">({{item.remark}})</span>
          <br>
          <!-- <span class=" worning-danger " *ngIf="item.qty === 3">*สินค้าหมด</span> -->
        </p>
      </ion-col>
      <ion-col col-3 text-right>
        <p>{{item.amount | number:'0.2-2'}}฿</p>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item class="border-none">
        <ion-row>
          <ion-col col-6 text-left class="highlight">
            <p>{{ 'DISTANCE' | translate }}</p>
            <p>{{ 'APPROXIMATELY' | translate }}</p>
            <p>{{ 'DELIVERY_FEE' | translate }}</p>
            <p>{{ 'PRODUCT_MENU' | translate }}</p>
            <p *ngIf="order.discount && order.discount > 0">{{ 'DISCOUNT' | translate }}</p>
            <p>{{ 'TOTAL_FEE' | translate }}</p>
          </ion-col>
          <ion-col col-6 text-right class="highlight highlight-color ">
            <p>{{order.estimateprice.distance}} {{ 'KM' | translate }}</p>
            <p>{{order.estimateprice.tripDuration}} {{ 'MIN' | translate }}</p>
            <p>{{ order.estimateprice.netPrice | number:'0.2-2'}} {{ 'THB' | translate }}</p>
            <p>{{ order.amount | number:'0.2-2'}} {{ 'THB' | translate }}</p>
            <p *ngIf="order.discount && order.discount > 0">{{ order.discount | number:'0.2-2'}} {{ 'THB' | translate }}</p>
            <p class="total">{{order.netamount | number:'0.2-2'}} {{ 'THB' | translate }}</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <!-- <button ion-button block color="light" small>{{ 'PRICE_POLICY' | translate }}</button> -->
    </ion-list>
  </ion-grid>
</ion-content>
<ion-footer class="footer-order">
  <ion-toolbar>
    <ion-row>
      <ion-col col-6 text-center>
        <button ion-button block color="bite" (click)="payment()">{{ 'PAYMENT' | translate }}</button>
      </ion-col>
      <ion-col col-6 text-center>
        <button ion-button block color="light" (click)="cancelOrder()">{{ 'CANCEL' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
