page-status-detail {
    .fontIcon {
        font-size: x-large
    }
    .fontDes {
        color: #c8c7cc;
    }
    .fontGray {
        color: #8e9093;
    }
    .border-top {
        border-top: solid 1px #c8c7cc;
    }
    .border-bottom {
        border-bottom: solid 1px #c8c7cc;
    }
    .map{
        margin-top: 10px;
    }
}